﻿@{
    Layout = null;
}
@using Sol_Razor_Square.Dal;
@using Sol_Razor_Square.Models;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person Data</title>

    <style>
        .square {
            width: 180px;
            height: 150px;
            border-radius: 60px;
            border-color: orange;
            margin: 5px;
            padding: 5px;
            border-style: solid;
            color: red;
            line-height: 150px;
            float: left;
        }

.div {
    height: 10px;
    font-size: 20px;
    line-height:1px;
    background-color: pink;
    padding: 5px;
    text-align:center;
   
    /*align-content:space-around;
    vertical-align:bottom;
    /*justify-content: flex-end;*/
}

    </style>

</head>
<body>
    <div>
    @{ 
        var personList = new PersonDal().GetPersonData();
    }
        @{
            foreach (var obj in personList)
            {

                <div class="square" >
                 
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/ce/5f/53/ce5f53437e291c48705428721406985c.jpg" align="middle" height="70" width="90" />
                    
                   
                     <div class="div">
                        <span>@obj.FirstName</span>
                        <span>@obj.LastName</span>
                    </div>
                </div>

            }
        }
    </div>
</body>
</html>
